<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Themes</key>
	<dict>
		<key>X___</key>
		<dict>
			<key>barColor</key>
			<string>FF0F33</string>
			<key>barAltColor</key>
			<string>383A40</string>
			<key>backgroundColor</key>
			<string>232329</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Smoke</key>
		<dict>
			<key>barColor</key>
			<string>5D5D5D</string>
			<key>barAltColor</key>
			<string>B5B1AF</string>
			<key>backgroundColor</key>
			<string>272729</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Skywarp</key>
		<dict>
			<key>barColor</key>
			<string>8288FF</string>
			<key>barAltColor</key>
			<string>383A40</string>
			<key>backgroundColor</key>
			<string>232329</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Ashen</key>
		<dict>
			<key>barColor</key>
			<string>000000</string>
			<key>barAltColor</key>
			<string>383A40</string>
			<key>backgroundColor</key>
			<string>282729</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Fuligin</key>
		<dict>
			<key>barColor</key>
			<string>000000</string>
			<key>barAltColor</key>
			<string>0F1012</string>
			<key>backgroundColor</key>
			<string>0B0B0C</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Grape Candy</key>
		<dict>
			<key>barColor</key>
			<string>6450FF</string>
			<key>barAltColor</key>
			<string>383A40</string>
			<key>backgroundColor</key>
			<string>453C8B</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>CA Blue</key>
		<dict>
			<key>barColor</key>
			<string>2467ff</string>
			<key>barAltColor</key>
			<string>2467ff</string>
			<key>backgroundColor</key>
			<string>131313</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>CA OG</key>
		<dict>
			<key>barColor</key>
			<string>294460</string>
			<key>barAltColor</key>
			<string>294460</string>
			<key>backgroundColor</key>
			<string>000000</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>CA Purple</key>
		<dict>
			<key>barColor</key>
			<string>383466</string>
			<key>barAltColor</key>
			<string>383466</string>
			<key>backgroundColor</key>
			<string>000000</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>CA Red-Pink</key>
		<dict>
			<key>barColor</key>
			<string>fe3b4c</string>
			<key>barAltColor</key>
			<string>fe3b4c</string>
			<key>backgroundColor</key>
			<string>3e4150</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Creamsicle</key>
		<dict>
			<key>barColor</key>
			<string>FB8613</string>
			<key>barAltColor</key>
			<string>ffffff</string>
			<key>backgroundColor</key>
			<string>fba050</string>
			<key>barsOpacityMin</key>
			<real>0.6</real>
			<key>barsOpacityMax</key>
			<real>0.8</real>
		</dict>
		<key>Yellowjacket</key>
		<dict>
			<key>barColor</key>
			<string>000000</string>
			<key>barAltColor</key>
			<string>000000</string>
			<key>backgroundColor</key>
			<string>ffca12</string>
			<key>barsOpacityMin</key>
			<real>0.7</real>
			<key>barsOpacityMax</key>
			<real>0.9</real>
		</dict>
		<key>Durance</key>
		<dict>
			<key>barColor</key>
			<string>9E7970</string>
			<key>barAltColor</key>
			<string>F1CBC2</string>
			<key>backgroundColor</key>
			<string>68534e</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Strawberries &apos;n Cream</key>
		<dict>
			<key>barColor</key>
			<string>ffffff</string>
			<key>barAltColor</key>
			<string>FF9699</string>
			<key>backgroundColor</key>
			<string>FF0A23</string>
			<key>barsOpacityMin</key>
			<real>0.6</real>
			<key>barsOpacityMax</key>
			<real>0.8</real>
		</dict>
		<key>Pillars of Autumn</key>
		<dict>
			<key>barColor</key>
			<string>23425F</string>
			<key>barAltColor</key>
			<string>FF7844</string>
			<key>backgroundColor</key>
			<string>A64942</string>
			<key>barsOpacityMin</key>
			<real>0.47</real>
			<key>barsOpacityMax</key>
			<real>0.8</real>
		</dict>
		<key>Cerulean Storm</key>
		<dict>
			<key>barColor</key>
			<string>0FAFE0</string>
			<key>barAltColor</key>
			<string>DBE9ED</string>
			<key>backgroundColor</key>
			<string>8FE2FB</string>
			<key>barsOpacityMin</key>
			<real>0.33</real>
			<key>barsOpacityMax</key>
			<real>0.62</real>
		</dict>
		<key>No Regrets</key>
		<dict>
			<key>barColor</key>
			<string>58B9C5</string>
			<key>barAltColor</key>
			<string>ACCEC8</string>
			<key>backgroundColor</key>
			<string>430F2E</string>
			<key>barsOpacityMin</key>
			<real>0.52</real>
			<key>barsOpacityMax</key>
			<real>0.82</real>
		</dict>
		<key>Few</key>
		<dict>
			<key>barColor</key>
			<string>D40F54</string>
			<key>barAltColor</key>
			<string>D47777</string>
			<key>backgroundColor</key>
			<string>6B203A</string>
			<key>barsOpacityMin</key>
			<real>0.2</real>
			<key>barsOpacityMax</key>
			<real>0.49</real>
		</dict>
		<key>Meld With You</key>
		<dict>
			<key>barColor</key>
			<string>CDFBF9</string>
			<key>barAltColor</key>
			<string>A6B2CA</string>
			<key>backgroundColor</key>
			<string>F9FEFA</string>
			<key>barsOpacityMin</key>
			<real>0.42</real>
			<key>barsOpacityMax</key>
			<real>0.72</real>
		</dict>
		<key>Bit of the UltraViolet</key>
		<dict>
			<key>barColor</key>
			<string>170D24</string>
			<key>barAltColor</key>
			<string>95A0E1</string>
			<key>backgroundColor</key>
			<string>100A14</string>
			<key>barsOpacityMin</key>
			<real>0.28</real>
			<key>barsOpacityMax</key>
			<real>0.85</real>
		</dict>
		<key>NM</key>
		<dict>
			<key>barColor</key>
			<string>2A4789</string>
			<key>barAltColor</key>
			<string>E8EFFF</string>
			<key>backgroundColor</key>
			<string>595F6F</string>
			<key>barsOpacityMin</key>
			<real>0.93</real>
			<key>barsOpacityMax</key>
			<real>1</real>
		</dict>
		<key>Diplomat</key>
		<dict>
			<key>barColor</key>
			<string>150B16</string>
			<key>barAltColor</key>
			<string>C01645</string>
			<key>backgroundColor</key>
			<string>2F172F</string>
			<key>barsOpacityMin</key>
			<real>0.2</real>
			<key>barsOpacityMax</key>
			<real>0.5</real>
		</dict>
		<key>Never Heard of It</key>
		<dict>
			<key>barColor</key>
			<string>6EFFAF</string>
			<key>barAltColor</key>
			<string>A7FFA1</string>
			<key>backgroundColor</key>
			<string>59B3AE</string>
			<key>barsOpacityMin</key>
			<real>0.24</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Water + Goldie</key>
		<dict>
			<key>barColor</key>
			<string>69D2E7</string>
			<key>barAltColor</key>
			<string>FA6900</string>
			<key>backgroundColor</key>
			<string>A7DBD8</string>
			<key>barsOpacityMin</key>
			<real>0.6</real>
			<key>barsOpacityMax</key>
			<real>0.8</real>
		</dict>
		<key>Water</key>
		<dict>
			<key>barColor</key>
			<string>69D2E7</string>
			<key>barAltColor</key>
			<string>E0E4CC</string>
			<key>backgroundColor</key>
			<string>A7DBD8</string>
			<key>barsOpacityMin</key>
			<real>0.6</real>
			<key>barsOpacityMax</key>
			<real>0.8</real>
		</dict>
		<key>Viridian Dreams</key>
		<dict>
			<key>barColor</key>
			<string>CFF09E</string>
			<key>barAltColor</key>
			<string>0B486B</string>
			<key>backgroundColor</key>
			<string>3B8686</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Nonetheless</key>
		<dict>
			<key>barColor</key>
			<string>CBE86B</string>
			<key>barAltColor</key>
			<string>1C140D</string>
			<key>backgroundColor</key>
			<string>F2E9E1</string>
			<key>barsOpacityMin</key>
			<real>0.73</real>
			<key>barsOpacityMax</key>
			<real>0.83</real>
		</dict>
		<key>Ireland</key>
		<dict>
			<key>barColor</key>
			<string>E8DDCB</string>
			<key>barAltColor</key>
			<string>033649</string>
			<key>backgroundColor</key>
			<string>036564</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Emerald Depths</key>
		<dict>
			<key>barColor</key>
			<string>031634</string>
			<key>barAltColor</key>
			<string>033649</string>
			<key>backgroundColor</key>
			<string>036564</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Dead Roses</key>
		<dict>
			<key>barColor</key>
			<string>70071A</string>
			<key>barAltColor</key>
			<string>470315</string>
			<key>backgroundColor</key>
			<string>21010A</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Grapefruit</key>
		<dict>
			<key>barColor</key>
			<string>F56991</string>
			<key>barAltColor</key>
			<string>E61C36</string>
			<key>backgroundColor</key>
			<string>FF9F80</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Sherbert</key>
		<dict>
			<key>barColor</key>
			<string>EFFAB4</string>
			<key>barAltColor</key>
			<string>FFC48C</string>
			<key>backgroundColor</key>
			<string>F56991</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Mint Chip</key>
		<dict>
			<key>barColor</key>
			<string>594F4F</string>
			<key>barAltColor</key>
			<string>45ADA8</string>
			<key>backgroundColor</key>
			<string>547980</string>
			<key>barsOpacityMin</key>
			<real>0.3</real>
			<key>barsOpacityMax</key>
			<real>0.6</real>
		</dict>
		<key>Chocolate Blue</key>
		<dict>
			<key>barColor</key>
			<string>ADCEDE</string>
			<key>barAltColor</key>
			<string>ECE5CE</string>
			<key>backgroundColor</key>
			<string>635252</string>
			<key>barsOpacityMin</key>
			<real>0.37</real>
			<key>barsOpacityMax</key>
			<real>0.71</real>
		</dict>
	</dict>
	<key>barsCount</key>
	<integer>25</integer>
	<key>barsAnimDurationMin</key>
	<real>8</real>
	<key>barsAnimDurationMax</key>
	<real>12</real>
</dict>
</plist>
